* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.image_one {
  content: "";
  background: url(./image/greg-rakozy-oMpAz-DN-9I-unsplash.jpg) no-repeat
    center/cover fixed;
  height: 100vh;
}

.name {
  position: relative;
  top: 20%;
}

div > h3 {
  color: white;
  font-size: 40px;
  margin-left: 40px;
  margin-bottom: 10px;
}

div > h1 {
  color: rgba(255, 255, 255, 0.836);
  font-size: 70px;
  letter-spacing: 5px;
  margin-left: 60px;
  margin-bottom: 30px;
}

div > h5 {
  color: white;
  font-size: 30px;
  margin-left: 60px;
  margin-bottom: 10px;
}

h5 > .align,
.align1 {
  margin-left: 15px;
}

.header {
  position: sticky;
  top: 0px;
}

header {
  background-color: white;
  padding: 20px 0;
  border-bottom: 1px solid rgb(232, 232, 243);
}

nav ul {
}

ul > li {
  display: inline-block;
  margin: 0 2em;
  font-size: 20px;
}

nav a {
  text-decoration: none;
  color: #000;
}

.about_section {
  min-height: calc(100vh-20vh);
  background-color: rgb(224, 210, 230);
  padding: 10px 10px;
  /* margin: 0px 10px 10px 10px; */
}

div .aboutme {
  font-size: 25px;
  padding: 40px 0 20px 30px;
}

p {
  padding: 40px 10px 20px 30px;
  font-size: 20px;
}

.aboutmeone {
  background-color: rgb(40, 69, 75);
  width: 70%;
  margin: 10px 10px 10px 20px;
}

h1:hover {
  color: white;
  transition: all ease-in-out 0.2ms;
}

.animation {
  animation-name: my;
  animation-duration: 4s;
}

@keyframes my {
  0% {
    transform: translateY(-200px);
  }

  25% {
  }

  50% {
  }

  75% {
  }

  100% {
  }
}

.align {
  animation-name: align;
  animation-duration: 4s;
}

@keyframes align {
  0% {
    transform: translateY(300px);
  }

  25% {
  }

  50% {
  }

  75% {
  }

  100% {
  }
}

.animate_pulse {
  animation-duration: 4s;
}

h5 > .align1 {
  color: rgb(247, 148, 50);
}

.align2 {
  color: rgb(68, 68, 139);
}

.align3 {
  color: rgb(18, 131, 8);
}

/* .align4 {
  color: rgb(252, 155, 198);
} */

.align5 {
  animation-name: align5;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-delay: 3s;
}

@keyframes align5 {
  0% {
    transform: translateY(100px);
  }

  25% {
    /* transform: translateY(-100px); */
  }
}
